<template name="sfdcQueue">
<div class="container">
    <div class="row col-lg-6 col-lg-offset-3">
      <h3>Your Salesforce Queue</h3>
      <div class="list-group">
          {{#each sfdcQueue}}
             {{> queueItem}}
          {{/each}}
      </div>    
          <a class="btn btn-success" href="{{pathFor 'queueSubmit'}}"><i class="fa fa-plus"></i> New Queue Item</a>
          <button type="submit" class="btn btn-info email-submit"><i class="fa fa-envelope"></i> Send Queue Items for Approval</button>
      </div>
    </div>
  </template>

  <template name="queueItem">
      <a class="list-group-item">
     <a href="#">{{status}} {{request_type}}: {{username}} for {{executeDate}}</a>
      </a> 
</template>