<template name="teamList">
<div class="container">
    <div class="row col-lg-8 col-lg-offset-2">
      <h3>Teams</h3>
      <ul class="list-group">
        {{#each team}}
            {{> teamItem}}
        {{/each}}
      </ul>

    </div>
        <a class="btn btn-success" href="{{pathFor 'payeeSubmit'}}"><i class= "fa fa-plus"></i>New Payees</a>
    </div>
  </template>

<template name="teamItem">
  <li class="list-group-item">
     <span class="badge">{{teamCount}}</span>
     {{teamName}}
   </li>
</template>
