<template name="calcList">
<div class="container">
    <div class="row col-lg-12">
      <h3>Calcs</h3>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Team</th>
            <th>Manager</th>
            <th>Name</th>
            <th>Username</th>
            <th>Monthly Variable</th>
            <th>Quota</th>
            <th>Won</th>
            <th>Attainment</th>
            <th>Payout Attainment</th>
            <th>Payout</th>
          </tr>
        </thead>
        <tbody>
            {{#each rep}}
               {{> calcItem}}
            {{/each}}
        </tbody>
      </table>
      <a class="btn btn-success" href="{{pathFor 'payeeSubmit'}}"><i class= "fa fa-plus"></i>New Payees</a>
      </div>
      </div>
  </template>

  <template name="calcItem">
    <tr>
      <td>{{team}}</td>
      <td>{{manager}}</td>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>{{monthlyVariable}}</td>
      <td>{{quota}}</td>
      <td>{{won}}</td>
      <td>%{{attainment}}</td>
      <td>%{{payoutAttainment}}</td>
      <td>{{payout}}</td>
    </tr>
  </template>
