<template name="stats">
  <h4 class="page-header">Teams</h4>
  <div class="row">
    <div class="col-xs-6">
      <select data-filter class="form-control" name="artist">
        <option value="all">All Teams</option>
        {{#each teams}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-xs-6">
      <select data-filter class="form-control" name="album">
        <option value="all">All Managers</option>
        {{#each managers currentTeam}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default" style="margin-top: 40px;">
        <div class="panel-heading">Total Quota</div>
        <div class="panel-body">
          <h1 style="margin: 0;">{{totalQuota}}</h1>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Team</th>
        <th>Manager</th>
        <th>Quota</th>
      </tr>
    </thead>
    <tbody>
      {{#each quotaItems}}
        <tr>
          <td>{{item.team}}</td>
          <td>{{item.manager}}</td>
          <td>{{total}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
