 <template name="campaignList">

	<div class="container">
    <div class="jumbotron">
        <h1>Welcome to your Email Campaigns</h1>
        <p>Create new, edit exisiting or copy into Yesware Mailmerge.</p>
       
        <p>
         <a class="btn btn-success btn-lg" title="New Campaign" href="{{pathFor 'docSubmit'}}"><i class="fa fa-plus"></i> New Campaign</a>
        </p>
    </div>

            {{#each campaigns}}
              {{> campaignItem}}
          {{/each}}
      
</div>
</template>


